<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="25dc2d23-2689-4f74-84c1-c171f4488ff8" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA-Inv-All-Categories-Del" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="25dc2d23-2689-4f74-84c1-c171f4488ff8fileName">EMEA-Inv-All-Categories-Del</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://emeashoppinglistqa.wcloud-emea-test.uk-south.containers.mybluemix.net</con:endpoint>
  </con:endpoints>
</con:interface>
