<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d5380905-bc44-461b-a447-9b3a77208520" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA-SL-item" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d5380905-bc44-461b-a447-9b3a77208520fileName">EMEA-SL-item</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
