<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a183a0f8-75b8-4d48-a658-98d873c57ea8" wadlVersion="http://wadl.dev.java.net/2009/02" name="deleteSingleEvent" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="a183a0f8-75b8-4d48-a658-98d873c57ea8fileName">deleteSingleEvent</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.us.apiconnect.ibmcloud.com</con:endpoint>
  </con:endpoints>
</con:interface>
