<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="7fa7e4be-b8a2-4c18-83c6-1951ea3fa75f" wadlVersion="http://wadl.dev.java.net/2009/02" name="updateSchedular" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7fa7e4be-b8a2-4c18-83c6-1951ea3fa75ffileName">updateSchedular</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
