<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e4cc74fa-65b5-44ae-a211-5718045a8035" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA-SL-Delete Shopping List" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e4cc74fa-65b5-44ae-a211-5718045a8035fileName">EMEA-SL-Delete-Shopping-List</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
