<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f160aaf0-42ae-4918-8067-b6d1314d4483" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA-Inv-item" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f160aaf0-42ae-4918-8067-b6d1314d4483fileName">EMEA-Inv-item</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
