<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f1f80399-42d3-4dc2-92b8-9b36f8171d16" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA-Inv-category-create" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f1f80399-42d3-4dc2-92b8-9b36f8171d16fileName">EMEA-Inv-category-create</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
