<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a0e7cc49-0004-4469-a3f6-f0aae45b8bb2" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA- Update shopping list" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a0e7cc49-0004-4469-a3f6-f0aae45b8bb2fileName">EMEA--Update-shopping-list</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
