<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5f55b666-9c67-4d5e-9999-264b75c93d54" wadlVersion="http://wadl.dev.java.net/2009/02" name="inv-move from 1-list to other" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5f55b666-9c67-4d5e-9999-264b75c93d54fileName">inv-move-from-1-list-to-other</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
