<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c4b2267d-0b25-4ee2-bf97-fe2276400cfe" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA - Get All Items" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c4b2267d-0b25-4ee2-bf97-fe2276400cfefileName">EMEA---Get-All-Items</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
