<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="21f3581f-d6e4-45d7-b67f-51e5b3b47f82" wadlVersion="http://wadl.dev.java.net/2009/02" name="EMEA- Create inventory list" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="21f3581f-d6e4-45d7-b67f-51e5b3b47f82fileName">EMEA--Create-inventory-list</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://{{EMEA-API-Connect}}</con:endpoint>
  </con:endpoints>
</con:interface>
